{% extends "base.html" %}

{% block content %}
<!-- Begin page content -->
<script>
    function Me() {
        window.location.assign('/my_ad');
    }
</script>
{% for i in ad %}
<div class="feed">
    <h1>{{ i["name"] }}</h1>
    <img src="{{ url_for('static', filename='address/A.png') }}" alt="{{ i['name'] }}">
    <h3>Этажность: {{ i["floor"] }}</h3>
    <h3>Тип дома: {{ i["category"] }}</h3>
    <h3>Дизаин дома: {{ i["design"] }}</h3>
    <h3>Назначение: {{ i["purpose"] }}</h3>
    <h3>Площадь дома: {{ i["square"] }}</h3>
    <h3>Состояние дома: {{ i["state"] }}</h3>
    <h3>Адресс: {{ i["address"] }}</h3>
    <h3>Почта для связи: {{ i["email"] }}</h3>
</div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}